[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "==2.3.2"
"discord.py" = {extras = ["voice"], version = "*"}
discord-py-slash-command = "==4.2.1"
pytz = "*"
youtube-dl = "*"
requests = "*"
beautifulsoup4 = "==4.9.3"
urlextract = "==1.8.0"
toml = "==0.10.2"
yt-dlp = "*"

[dev-packages]

[requires]
python_version = "3.10"
