[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
urlextract = "==1.8.0"
toml = "==0.10.2"
aiohttp = "*"
beautifulsoup4 = "*"
yt-dlp = "*"
pytz = "*"
davey = "*"
"discord.py" = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
